@model ProviderModel
@{
    ViewData["Title"] = "Eliminar Proveedor";
}

<h1>Eliminar Empleado</h1>

<h3>¿Está seguro que desea eliminar?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProvider)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProvider)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Delivery)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="IdProvider" type="hidden" class="form-control">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
    </form>
</div>